{
  "extends": [
    "eslint:recommended" 
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "quotes": [2, "double"],
    "indent": ["error", 2],
    "no-console": 0,
    "no-unused-vars": 0
  }
}